Repository blockscout/frontend, pull requests merged in 2024-07, with the labels that each got.

#2062 Identicon render issue on `Name details` page on mobile
  package.json
  ui/shared/entities/address/AddressIdenticon.tsx
  yarn.lock
Labels: bug

#2061 Celo: show gas fees paid in ERC20 tokens
  .github/workflows/deploy-review.yml
  .vscode/tasks.json
  configs/app/chain.ts
  configs/envs/.env.celo_alfajores
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/.env.base
  deploy/values/review/values.yaml.gotmpl
  docs/ENVS.md
  icons/wallet.svg
  mocks/txs/tx.ts
  types/api/transaction.ts
  ui/home/LatestTxsItem.tsx
  ui/home/LatestTxsItemMobile.tsx
  ui/home/__screenshots__/LatestTxs.pw.tsx_default_mobile-default-view-1.png
  ui/pages/__screenshots__/BeaconChainWithdrawals.pw.tsx_mobile_base-view-mobile-1.png
  ui/pages/__screenshots__/Home.pw.tsx_default_mobile-base-view-1.png
  ui/pages/__screenshots__/UserOps.pw.tsx_mobile_base-view-mobile-1.png
  ui/shared/CurrencyValue.tsx
  ui/shared/entities/address/AddressEntityContentProxy.tsx
  ui/shared/tx/TxFee.pw.tsx
  ui/shared/tx/TxFee.tsx
  ui/shared/tx/TxFeeStability.tsx
  ui/shared/tx/__screenshots__/TxFee.pw.tsx_default_base-view-1.png
  ui/shared/tx/__screenshots__/TxFee.pw.tsx_default_celo-gas-token-1.png
  ui/shared/tx/__screenshots__/TxFee.pw.tsx_default_no-usd-value-1.png
  ui/shared/tx/__screenshots__/TxFee.pw.tsx_default_stability-token-1.png
  ui/tx/TxDetailsWrapped.tsx
  ui/tx/details/TxDetailsGasPrice.tsx
  ui/tx/details/TxInfo.tsx
  ui/txs/TxAdditionalInfoContent.tsx
  ui/txs/TxsListItem.tsx
  ui/txs/TxsTable.tsx
  ui/txs/TxsTableItem.tsx
Labels: ENVs

#2106 Lock marketplace action bar at the top of the page
  icons/star_filled.svg
  ui/marketplace/Banner/FeaturedApp.tsx
  ui/marketplace/Banner/FeaturedAppMobile.tsx
  ui/marketplace/Banner/IframeBanner.tsx
  ui/marketplace/MarketplaceList.tsx
  ui/pages/Marketplace.pw.tsx
  ui/pages/Marketplace.tsx
  ui/pages/__screenshots__/Marketplace.pw.tsx_default_mobile-base-view-1.png
  ui/pages/__screenshots__/Marketplace.pw.tsx_default_mobile-with-banner-1.png
  ui/pages/__screenshots__/Marketplace.pw.tsx_default_mobile-with-featured-app-1.png
Labels: enhancement

#2108 Add a "Get gas" button
  configs/app/features/getGasButton.ts
  configs/app/features/index.ts
  configs/envs/.env.eth
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/.env.base
  docs/ENVS.md
  types/client/gasRefuelProviderConfig.ts
  ui/snippets/topBar/GetGasButton.tsx
  ui/snippets/topBar/TopBar.pw.tsx
  ui/snippets/topBar/TopBarStats.tsx
  ui/snippets/topBar/__screenshots__/TopBar.pw.tsx_default_with-Get-gas-button-1.png
Labels: enhancement, ENVs

#2128 Support hiding "REST API" and "GraphQL" links from navigation
  configs/app/features/graphqlApiDocs.ts
  configs/app/features/restApiDocs.ts
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/.env.alt
  deploy/tools/envs-validator/test/.env.base
  docs/ENVS.md
Labels: ENVs
