Repository blockscout/frontend, pull requests merged in 2024-11, with the labels that each got.

#2319 Favicon generator: replace realfavicon with favicons package
  .env.example
  .eslintignore
  Dockerfile
  configs/envs/.env.eth_sepolia
  deploy/scripts/favicon_generator.sh
  deploy/tools/envs-validator/test/.env.base
  deploy/tools/favicon-generator/.gitignore
  deploy/tools/favicon-generator/config.template.json
  deploy/tools/favicon-generator/index.js
  deploy/tools/favicon-generator/package.json
  deploy/tools/favicon-generator/script.sh
  deploy/tools/favicon-generator/yarn.lock
  deploy/values/review-l2/values.yaml.gotmpl
  deploy/values/review/values.yaml.gotmpl
  docs/DEPRECATED_ENVS.md
  docs/ENVS.md
  pages/_document.tsx
  public/assets/favicon/android-chrome-192x192.png
  public/assets/favicon/apple-touch-icon-120x120.png
  public/assets/favicon/apple-touch-icon-152x152.png
  public/assets/favicon/apple-touch-icon-180x180.png
  public/assets/favicon/apple-touch-icon-60x60.png
  public/assets/favicon/apple-touch-icon-76x76.png
  public/assets/favicon/apple-touch-icon.png
  public/assets/favicon/favicon-16x16.png
  public/assets/favicon/favicon-32x32.png
  public/assets/favicon/favicon-48x48.png
  public/assets/favicon/favicon.ico
  public/assets/favicon/logo-icon.png
  public/assets/favicon/safari-pinned-tab.svg
  tools/scripts/favicon-generator.dev.sh
  tsconfig.json
Labels: ENVs

#2348 Do not display empty NFT attributes
  ui/shared/TruncatedValue.tsx
  ui/tokenInstance/details/TokenInstanceMetadataInfo.tsx
  ui/tokenInstance/metadata/MetadataItemPrimitive.tsx
Labels: bug

#2346 Celo: `Epoch rewards` tab bugs on mobile
  ui/address/contract/methods/ContractAbiItem.tsx
  ui/block/epochRewards/BlockEpochElectionRewardsListItem.tsx
  ui/block/epochRewards/BlockEpochRewardsDistribution.tsx
  ui/block/epochRewards/__screenshots__/BlockEpochElectionRewards.pw.tsx_mobile_base-view-mobile-1.png
  ui/shared/CopyToClipboard.tsx
  ui/shared/address/AddressFromTo.tsx
Labels: bug

#2357 Remove deps from interpretator for an action button
  ui/tx/TxSubHeading.pw.tsx
  ui/tx/TxSubHeading.tsx
  ui/tx/__screenshots__/TxSubHeading.pw.tsx_default_blockscout-provider-no-interpretation-1.png
  ui/tx/__screenshots__/TxSubHeading.pw.tsx_default_blockscout-provider-no-interpretation-has-method-called-1.png
  ui/tx/__screenshots__/TxSubHeading.pw.tsx_default_blockscout-provider-no-interpretation-pending-1.png
  ui/tx/__screenshots__/TxSubHeading.pw.tsx_default_blockscout-provider-no-interpretation-with-action-button-1.png
  ui/tx/__screenshots__/TxSubHeading.pw.tsx_default_blockscout-provider-with-interpretation-and-recipient-ENS-domain-1.png
  ui/tx/__screenshots__/TxSubHeading.pw.tsx_default_with-interpretation-mobile-dark-mode-1.png
Labels: enhancement

#2354 Humanity score integration
  configs/app/features/index.ts
  configs/app/features/xStarScore.ts
  configs/envs/.env.eth_sepolia
  deploy/tools/envs-validator/schema.ts
  docs/ENVS.md
  lib/api/resources.ts
  lib/xStarScore/useFetchXStarScore.ts
  types/api/address.ts
  ui/pages/Address.tsx
Labels: enhancement, ENVs

#2415 Add new sorting option to Dappscout
  .env.example
  configs/envs/.env.eth
  ui/marketplace/useMarketplaceApps.tsx
  ui/marketplace/utils.ts
Labels: enhancement

#2386 Celo: Cross-link to epoch block on the regular block view and Epoch rewards CSV export
  configs/app/features/celo.ts
  configs/app/features/index.ts
  configs/envs/.env.celo_alfajores
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/.env.celo
  docs/ENVS.md
  lib/api/resources.ts
  mocks/address/epochRewards.ts
  theme/components/Badge.ts
  types/client/address.ts
  ui/address/AddressEpochRewards.tsx
  ui/address/__screenshots__/AddressEpochRewards.pw.tsx_default_base-view-mobile-1.png
  ui/address/__screenshots__/AddressEpochRewards.pw.tsx_mobile_base-view-mobile-1.png
  ui/pages/Block.tsx
  ui/pages/CsvExport.tsx
Labels: enhancement, ENVs

#2375 Zilliqa: Consensus data on Block view and Raw Input default format for Scilla contract txn
  .github/workflows/deploy-review-l2.yml
  .github/workflows/deploy-review.yml
  .vscode/tasks.json
  configs/envs/.env.zilliqa_prototestnet
  mocks/blocks/block.ts
  tools/preset-sync/index.ts
  types/api/address.ts
  types/api/block.ts
  types/api/transaction.ts
  ui/address/AddressLogs.tsx
  ui/block/BlockDetails.tsx
  ui/block/details/BlockDetailsZilliqaQuorumCertificate.pw.tsx
  ui/block/details/BlockDetailsZilliqaQuorumCertificate.tsx
  ui/block/details/__screenshots__/BlockDetailsZilliqaQuorumCertificate.pw.tsx_default_aggregated-quorum-certificate-mobile-1.png
  ui/block/details/__screenshots__/BlockDetailsZilliqaQuorumCertificate.pw.tsx_default_quorum-certificate-1.png
  ui/block/details/__screenshots__/BlockDetailsZilliqaQuorumCertificate.pw.tsx_mobile_aggregated-quorum-certificate-mobile-1.png
  ui/shared/DetailsInfoItemDivider.tsx
  ui/shared/RawInputData.tsx
  ui/shared/logs/LogItem.pw.tsx
  ui/shared/logs/LogItem.tsx
  ui/shared/logs/__screenshots__/LogItem.pw.tsx_default_with-default-data-type-1.png
  ui/tx/TxLogs.tsx
  ui/tx/details/TxInfo.tsx
Labels: enhancement

#2407 Constructor array parameters are displayed as concatenated strings instead of arrays
  configs/envs/.env.eth_sepolia
  mocks/contract/info.ts
  types/api/contract.ts
  ui/address/contract/ContractDetailsConstructorArgs.tsx
  ui/address/contract/__screenshots__/ContractDetails.pw.tsx_dark-color-mode_full-view-source-code-dark-mode-1.png
  ui/address/contract/__screenshots__/ContractDetails.pw.tsx_default_full-view-source-code-dark-mode-1.png
  ui/address/contract/__screenshots__/ContractDetails.pw.tsx_default_mobile-view-source-code-1.png
  ui/address/contract/useContractDetailsTabs.tsx
Labels: bug

#2414 Optimism and Arbitrum rollups updates
  configs/app/features/rollup.ts
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/.env.arbitrum
  deploy/tools/envs-validator/test/.env.optimism
  docs/ENVS.md
  lib/getArbitrumVerificationStepStatus.ts
  lib/hooks/useNavItems.tsx
  lib/rollups/arbitrum.ts
  mocks/txs/tx.ts
  nextjs/getServerSideProps.ts
  pages/output-roots/index.tsx
  playwright/fixtures/mockEnvs.ts
  ui/block/BlockDetails.tsx
  ui/tx/details/TxInfo.pw.tsx
  ui/tx/details/TxInfo.tsx
  ui/tx/details/__screenshots__/TxInfo.pw.tsx_default_arbitrum-L1-status-1.png
Labels: ENVs

#2363 Try `@helia/verified-fetch` for fetching NFT images from IPFS
  configs/app/ui/views/nft.ts
  configs/envs/.env.pw
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/.env.base
  docs/ENVS.md
  mocks/address/tokens.ts
  nextjs/csp/generateCspPolicy.ts
  nextjs/csp/policies/app.ts
  nextjs/csp/policies/helia.ts
  nextjs/csp/policies/index.ts
  package.json
  ui/address/__screenshots__/AddressTokens.pw.tsx_dark-color-mode_collections-dark-mode-1.png
  ui/address/__screenshots__/AddressTokens.pw.tsx_default_collections-dark-mode-1.png
  ui/address/__screenshots__/AddressTokens.pw.tsx_default_mobile-collections-1.png
  ui/address/__screenshots__/AddressTokens.pw.tsx_default_mobile-nfts-1.png
  ui/address/tokens/NFTItem.tsx
  ui/shared/Tabs/TabsWithScroll.tsx
  ui/shared/nft/NftMedia.pw.tsx
  ui/shared/nft/NftMedia.tsx
  ui/shared/nft/NftVideo.tsx
  ui/shared/nft/useNftMediaInfo.tsx
  ui/token/TokenInventoryItem.tsx
  ui/tokenInstance/TokenInstanceDetails.tsx
  ui/tokenInstance/metadata/MetadataItemPrimitive.tsx
  yarn.lock
Labels: ENVs

#2403 Migrate from Sentry.io to Rollbar monitoring solution
  .env.example
  .github/workflows/upload-source-maps.yml
  .gitignore
  configs/app/features/index.ts
  configs/app/features/rollbar.ts
  configs/envs/.env.eth
  configs/envs/.env.eth_sepolia
  configs/envs/.env.main
  deploy/tools/envs-validator/index.ts
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/.env.base
  deploy/tools/envs-validator/test/.env.sentry
  deploy/values/review-l2/values.yaml.gotmpl
  deploy/values/review/values.yaml.gotmpl
  docs/ENVS.md
  lib/api/useApiFetch.tsx
  lib/api/useApiQuery.tsx
  lib/hooks/useAddressProfileApiQuery.tsx
  lib/hooks/useFetch.tsx
  lib/hooks/useGetCsrfToken.tsx
  lib/hooks/useIsSafeAddress.tsx
  lib/rollbar/index.tsx
  lib/sentry/config.ts
  next.config.js
  nextjs/PageNextJs.tsx
  nextjs/csp/generateCspPolicy.ts
  nextjs/csp/policies/app.ts
  nextjs/csp/policies/index.ts
  nextjs/csp/policies/rollbar.ts
  nextjs/csp/policies/sentry.ts
  package.json
  pages/404.tsx
  pages/_app.tsx
  ui/address/details/AddressQrCode.tsx
  ui/pages/Login.tsx
  ui/shared/AppError/AppErrorBoundary.tsx
  ui/snippets/auth/useRedirectForInvalidAuthToken.ts
  yarn.lock
Labels: tech, ENVs
