Repository blockscout/frontend, pull requests merged in 2024-09, with the labels that each got.

#2199 Hero banner: more customizations
  configs/app/ui.ts
  deploy/tools/envs-validator/index.ts
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/.env.base
  docs/ENVS.md
  nextjs/csp/policies/app.ts
  pages/_document.tsx
  theme/components/Button/Button.pw.tsx
  theme/components/Button/Button.ts
  theme/components/Button/__screenshots__/Button.pw.tsx_dark-color-mode_variant-header-dark-mode-1.png
  theme/components/Button/__screenshots__/Button.pw.tsx_dark-color-mode_variant-hero-dark-mode-1.png
  theme/components/Button/__screenshots__/Button.pw.tsx_default_variant-header-dark-mode-1.png
  theme/components/Button/__screenshots__/Button.pw.tsx_default_variant-hero-dark-mode-1.png
  theme/foundations/typography.ts
  types/homepage.ts
  types/ui.ts
  ui/home/HeroBanner.pw.tsx
  ui/home/HeroBanner.tsx
  ui/home/__screenshots__/HeroBanner.pw.tsx_dark-color-mode_customization-dark-mode-1.png
  ui/home/__screenshots__/HeroBanner.pw.tsx_default_customization-dark-mode-1.png
  ui/pages/Home.pw.tsx
  ui/pages/Home.tsx
  ui/pages/__screenshots__/Home.pw.tsx_default_custom-hero-plate-background-default-view-1.png
  ui/snippets/profileMenu/ProfileMenuDesktop.tsx
  ui/snippets/profileMenu/ProfileMenuMobile.tsx
  ui/snippets/useMenuButtonColors.tsx
  ui/snippets/walletMenu/WalletIdenticon.tsx
  ui/snippets/walletMenu/WalletMenuContent.tsx
  ui/snippets/walletMenu/WalletMenuDesktop.tsx
  ui/snippets/walletMenu/WalletMenuMobile.tsx
Labels: ENVs

#2221 Home page stats config
  configs/app/ui.ts
  configs/envs/.env.celo_alfajores
  configs/envs/.env.jest
  configs/envs/.env.pw
  configs/envs/.env.rootstock_testnet
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/.env.alt
  deploy/tools/envs-validator/test/.env.base
  docs/DEPRECATED_ENVS.md
  docs/ENVS.md
  types/homepage.ts
  ui/home/Stats.pw.tsx
  ui/home/Stats.tsx
  ui/home/__screenshots__/Stats.pw.tsx_mobile_3-items-default-view-mobile---default-1.png
  ui/home/__screenshots__/Stats.pw.tsx_mobile_4-items-default-view-mobile---default-1.png
Labels: ENVs

#2229 Bump up packages versions
  configs/envs/.env.eth
  lib/api/resources.ts
  lib/web3/wagmiConfig.ts
  next-env.d.ts
  nextjs/csp/policies/walletConnect.ts
  package.json
  stubs/account.ts
  types/api/account.ts
  ui/address/details/AddressFavoriteButton.tsx
  ui/customAbi/CustomAbiModal/CustomAbiForm.tsx
  ui/customAbi/CustomAbiTable/CustomAbiTable.tsx
  ui/pages/CustomAbi.tsx
  ui/privateTags/AddressModal/AddressForm.tsx
  ui/privateTags/AddressTagTable/AddressTagTable.tsx
  ui/privateTags/DeletePrivateTagModal.tsx
  ui/privateTags/PrivateAddressTags.tsx
  ui/privateTags/PrivateTransactionTags.tsx
  ui/privateTags/TransactionModal/TransactionForm.tsx
  ui/privateTags/TransactionTagTable/TransactionTagTable.tsx
  ui/watchlist/AddressModal/AddressForm.tsx
  ui/watchlist/DeleteAddressModal.tsx
  ui/watchlist/WatchlistTable/WatchListItem.tsx
  ui/watchlist/WatchlistTable/WatchListTableItem.tsx
  yarn.lock
Labels: dependencies

#2232 GasHawk integration
  configs/app/features/index.ts
  configs/app/features/saveOnGas.ts
  configs/envs/.env.eth
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/.env.base
  docs/ENVS.md
  nextjs/csp/generateCspPolicy.ts
  nextjs/csp/policies/gasHawk.ts
  nextjs/csp/policies/index.ts
  public/static/gas_hawk_logo.svg
  ui/address/AddressDetails.tsx
  ui/address/details/AddressSaveOnGas.tsx
  ui/address/utils/useAddressCountersQuery.ts
Labels: ENVs

#2247 Change max width of page content
  configs/app/ui.ts
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/.env.base
  docs/ENVS.md
  playwright/ContentWrapper.tsx
  playwright/fixtures/render.tsx
  playwright/utils/config.ts
  theme/components/Tooltip/__screenshots__/Tooltip.pw.tsx_dark-color-mode_base-view-dark-mode-1.png
  theme/foundations/breakpoints.ts
  theme/global.ts
  ui/address/__screenshots__/SolidityscanReport.pw.tsx_dark-color-mode_average-report-dark-mode-mobile-1.png
  ui/address/__screenshots__/SolidityscanReport.pw.tsx_dark-color-mode_average-report-dark-mode-mobile-2.png
  ui/address/tokenSelect/__screenshots__/TokenSelect.pw.tsx_dark-color-mode_base-view-dark-mode-1.png
  ui/address/tokenSelect/__screenshots__/TokenSelect.pw.tsx_dark-color-mode_base-view-dark-mode-2.png
  ui/gasTracker/__screenshots__/GasTrackerPriceSnippet.pw.tsx_dark-color-mode_with-gwei-as-primary-unit-dark-mode-1.png
  ui/gasTracker/__screenshots__/GasTrackerPriceSnippet.pw.tsx_dark-color-mode_with-usd-as-primary-unit-dark-mode-1.png
  ui/marketplace/__screenshots__/MarketplaceAppInfo.pw.tsx_dark-color-mode_base-view-dark-mode-1.png
  ui/shared/EntityTags/__screenshots__/EntityTag.pw.tsx_dark-color-mode_tag-with-tooltip-dark-mode-1.png
  ui/shared/FancySelect/__screenshots__/FancySelect.pw.tsx_dark-color-mode_size-lg-dark-mode-empty-2.png
  ui/shared/FancySelect/__screenshots__/FancySelect.pw.tsx_dark-color-mode_size-md-dark-mode-empty-2.png
  ui/shared/layout/Layout.pw.tsx
  ui/shared/layout/__screenshots__/Layout.pw.tsx_default_xl-screen-horizontal-navigation-1.png
  ui/shared/layout/__screenshots__/Layout.pw.tsx_default_xl-screen-vertical-navigation-1.png
  ui/shared/layout/__screenshots__/Layout.pw.tsx_default_xxl-screen-horizontal-navigation-1.png
  ui/shared/layout/__screenshots__/Layout.pw.tsx_default_xxl-screen-vertical-navigation-1.png
  ui/shared/layout/components/Container.tsx
  ui/shared/layout/components/MainColumn.tsx
  ui/shared/layout/utils.ts
  ui/snippets/footer/Footer.tsx
  ui/snippets/footer/__screenshots__/Footer.pw.tsx_dark-color-mode_with-custom-links-max-cols-mobile-dark-mode-1.png
  ui/snippets/footer/__screenshots__/Footer.pw.tsx_dark-color-mode_with-custom-links-min-cols-base-view-dark-mode-mobile-1.png
  ui/snippets/footer/__screenshots__/Footer.pw.tsx_dark-color-mode_without-custom-links-base-view-dark-mode-mobile-1.png
  ui/snippets/footer/__screenshots__/Footer.pw.tsx_default_with-custom-links-max-cols-screen-xl-1.png
  ui/snippets/header/__screenshots__/HeaderMobile.pw.tsx_dark-color-mode_default-view-dark-mode-1.png
  ui/snippets/navigation/horizontal/__screenshots__/NavigationDesktop.pw.tsx_dark-color-mode_base-view-dark-mode-1.png
  ui/snippets/networkMenu/__screenshots__/NetworkMenu.pw.tsx_dark-color-mode_base-view-dark-mode-3.png
  ui/snippets/networkMenu/__screenshots__/NetworkMenu.pw.tsx_dark-color-mode_base-view-dark-mode-4.png
  ui/snippets/profileMenu/__screenshots__/ProfileMenuDesktop.pw.tsx_dark-color-mode_auth-dark-mode-1.png
  ui/snippets/topBar/__screenshots__/TopBar.pw.tsx_dark-color-mode_default-view-dark-mode-mobile-1.png
  ui/snippets/topBar/__screenshots__/TopBar.pw.tsx_dark-color-mode_default-view-dark-mode-mobile-2.png
  ui/snippets/topBar/__screenshots__/TopBar.pw.tsx_dark-color-mode_with-DeFi-dropdown-dark-mode-mobile-1.png
  ui/snippets/walletMenu/__screenshots__/WalletMenuDesktop.pw.tsx_dark-color-mode_wallet-connected-dark-mode-1.png
  ui/snippets/walletMenu/__screenshots__/WalletMenuDesktop.pw.tsx_dark-color-mode_wallet-connected-home-page-dark-mode-1.png
  ui/snippets/walletMenu/__screenshots__/WalletMenuDesktop.pw.tsx_dark-color-mode_wallet-is-not-connected-dark-mode-1.png
  ui/snippets/walletMenu/__screenshots__/WalletMenuDesktop.pw.tsx_dark-color-mode_wallet-is-not-connected-home-page-dark-mode-1.png
  ui/snippets/walletMenu/__screenshots__/WalletMenuMobile.pw.tsx_dark-color-mode_wallet-is-not-connected-dark-mode-1.png
  ui/txs/__screenshots__/TxAdditionalInfo.pw.tsx_dark-color-mode_regular-transaction-dark-mode-1.png
Labels: ENVs

#2272 Fix args length and optional nested arrays in contract method form
  ui/address/contract/methods/form/ContractMethodFieldInputTuple.tsx
  ui/address/contract/methods/form/utils.test.ts
  ui/address/contract/methods/form/utils.ts
  ui/address/contract/methods/useCallMethodPublicClient.ts
Labels: bug

#2269 Bump Playwright to v1.47.2
  .github/workflows/checks.yml
  .github/workflows/upload-source-maps.yml
  .nvmrc
  Dockerfile
  package.json
  playwright-ct.config.ts
  playwright/fixtures/render.tsx
  playwright/lib.tsx
  ui/address/details/__screenshots__/AddressQrCode.pw.tsx_mobile_default-view-mobile-dark-mode-1.png
  ui/address/tokenSelect/TokenSelect.pw.tsx
  ui/address/tokenSelect/__screenshots__/TokenSelect.pw.tsx_default_mobile-base-view-1.png
  ui/block/epochRewards/__screenshots__/BlockEpochElectionRewards.pw.tsx_mobile_base-view-mobile-1.png
  ui/marketplace/MarketplaceAppModal.pw.tsx
  ui/pages/MarketplaceApp.pw.tsx
  ui/shared/logs/__screenshots__/LogTopic.pw.tsx_mobile_address-view-mobile---default-1.png
  ui/shared/logs/__screenshots__/LogTopic.pw.tsx_mobile_hex-view-mobile---default-1.png
  ui/snippets/searchBar/__screenshots__/SearchBar.pw.tsx_mobile_block-countdown-with-results-mobile-1.png
  ui/snippets/searchBar/__screenshots__/SearchBar.pw.tsx_mobile_search-by-block-number-mobile-1.png
  ui/snippets/searchBar/__screenshots__/SearchBar.pw.tsx_mobile_search-by-token-name-mobile-dark-mode-1.png
  ui/snippets/searchBar/__screenshots__/SearchBar.pw.tsx_mobile_with-apps-default-view-mobile-1.png
  ui/tokenInstance/TokenInstanceDetails.pw.tsx
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_dark-color-mode_action-button-base-view-dark-mode-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_dark-color-mode_action-button-base-view-dark-mode-mobile-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_dark-color-mode_action-button-without-marketplaces-dark-mode-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_dark-color-mode_action-button-without-marketplaces-dark-mode-mobile-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_dark-color-mode_base-view-dark-mode-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_dark-color-mode_base-view-dark-mode-mobile-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_default_action-button-base-view-dark-mode-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_default_action-button-base-view-dark-mode-mobile-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_default_action-button-without-marketplaces-dark-mode-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_default_action-button-without-marketplaces-dark-mode-mobile-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_default_base-view-dark-mode-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_default_base-view-dark-mode-mobile-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_default_mobile-base-view-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_mobile_action-button-base-view-dark-mode-mobile-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_mobile_action-button-without-marketplaces-dark-mode-mobile-1.png
  ui/tokenInstance/__screenshots__/TokenInstanceDetails.pw.tsx_mobile_base-view-dark-mode-mobile-1.png
  ui/txs/__screenshots__/TxAdditionalInfo.pw.tsx_mobile_regular-transaction-mobile---default-1.png
  yarn.lock
Labels: dependencies

#2263 Zora: implement custom tag
  configs/app/features/addressProfileAPI.ts
  configs/app/features/index.ts
  configs/envs/.env.zora
  deploy/tools/envs-validator/schema.ts
  docs/ENVS.md
  lib/hooks/useAddressProfileApiQuery.tsx
  nextjs/csp/generateCspPolicy.ts
  nextjs/csp/policies/index.ts
  nextjs/csp/policies/usernameApi.ts
  tools/preset-sync/index.ts
  types/client/addressProfileAPIConfig.ts
  ui/pages/Address.tsx
Labels: ENVs
