Repository blockscout/frontend, pull requests merged in 2025-06, with the labels that each got.

#2751 Buggy display of Security Score in mobile version
  ui/marketplace/AppSecurityReport.tsx
  ui/marketplace/ContractSecurityReport.tsx
Labels: bug

#2766 Explorer links - add toggle for lowercase hash
  docs/ENVS.md
  ui/pages/Address.tsx
  ui/shared/NetworkExplorers.tsx
  ui/token/TokenPageTitle.tsx
Labels: ENVs

#2769 Error is not displayed for functions with no return values.
  ui/address/contract/methods/__screenshots__/ContractMethodsRegular.pw.tsx_dark-color-mode_all-methods-dark-mode-1.png
  ui/address/contract/methods/__screenshots__/ContractMethodsRegular.pw.tsx_default_all-methods-dark-mode-1.png
  ui/address/contract/methods/__screenshots__/ContractMethodsRegular.pw.tsx_default_all-methods-mobile-1.png
  ui/address/contract/methods/form/ContractMethodForm.tsx
  ui/address/contract/methods/form/ContractMethodOutput.pw.tsx
  ui/address/contract/methods/form/ContractMethodOutput.tsx
  ui/address/contract/methods/form/ContractMethodResultPublicClient.pwstory.tsx
  ui/address/contract/methods/form/ContractMethodResultPublicClient.tsx
  ui/address/contract/methods/form/__screenshots__/ContractMethodForm.pw.tsx_dark-color-mode_base-view-mobile-dark-mode-1.png
  ui/address/contract/methods/form/__screenshots__/ContractMethodForm.pw.tsx_default_base-view-mobile-dark-mode-1.png
  ui/address/contract/methods/form/__screenshots__/ContractMethodForm.pw.tsx_mobile_base-view-mobile-dark-mode-1.png
  ui/address/contract/methods/form/__screenshots__/ContractMethodOutput.pw.tsx_default_preview-mode-1.png
  ui/address/contract/methods/form/__screenshots__/ContractMethodOutput.pw.tsx_default_result-mode-1.png
  ui/address/contract/methods/form/__screenshots__/ContractMethodOutput.pw.tsx_default_single-output-1.png
  ui/address/contract/methods/form/__screenshots__/ContractMethodResultPublicClient.pw.tsx_default_error-1.png
  ui/address/contract/methods/form/__screenshots__/ContractMethodResultPublicClient.pw.tsx_default_preview-mode-1.png
  ui/address/contract/methods/form/__screenshots__/ContractMethodResultPublicClient.pw.tsx_default_result-mode-1.png
  ui/address/contract/methods/form/__screenshots__/ContractMethodResultPublicClient.pw.tsx_default_single-output-1.png
Labels: bug

#2782 Bump `react` to v19
  lib/hooks/useClientRect.tsx
  lib/hooks/useUpdateValueEffect.tsx
  lib/socket/useSocketChannel.tsx
  nextjs/csp/policies/monaco.ts
  package.json
  playwright/helpers/stableHover.ts
  toolkit/chakra/icon-button.tsx
  toolkit/components/AdaptiveTabs/AdaptiveTabsList.tsx
  toolkit/components/AdaptiveTabs/useScrollToActiveTab.tsx
  toolkit/components/truncation/TruncatedTextTooltip.tsx
  toolkit/hooks/useIsSticky.tsx
  ui/address/contract/methods/form/ContractMethodFieldInput.tsx
  ui/contractVerification/ContractVerificationForm.tsx
  ui/pages/Chart.tsx
  ui/pages/SearchResults.pw.tsx
  ui/searchResults/SearchResultsInput.tsx
  ui/shared/chart/ChartLineLoader.tsx
  ui/shared/chart/ChartMenu.tsx
  ui/shared/chart/ChartSelectionX.tsx
  ui/shared/chart/ChartTooltip.tsx
  ui/shared/chart/tooltip/ChartTooltipBackdrop.tsx
  ui/shared/chart/tooltip/ChartTooltipContent.tsx
  ui/shared/chart/tooltip/ChartTooltipLine.tsx
  ui/shared/chart/tooltip/ChartTooltipPoint.tsx
  ui/shared/chart/tooltip/ChartTooltipRow.tsx
  ui/shared/chart/tooltip/ChartTooltipTitle.tsx
  ui/shared/chart/useBrushX.tsx
  ui/shared/entities/ens/EnsEntity.pw.tsx
  ui/shared/entities/token/TokenEntity.pw.tsx
  ui/shared/pagination/useLazyLoadedList.tsx
  ui/shared/pagination/useQueryWithPages.ts
  ui/snippets/searchBar/SearchBar.tsx
  ui/tokenInstance/TokenInstanceDetails.tsx
  ui/tokenInstance/TokenInstanceMetadataFetcher.tsx
  yarn.lock
Labels: tech

#2792 Gas tracker: bug fixes and improvements
  configs/app/features/gasTracker.ts
  configs/envs/.env.pw
  docs/ENVS.md
  stubs/stats.ts
  ui/gasTracker/GasTrackerChart.tsx
  ui/pages/GasTracker.tsx
Labels: bug, enhancement, ENVs

#2809 Icons in footer links
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/assets/configs/footer_links.json
  docs/ENVS.md
  mocks/config/footerLinks.ts
  types/footerLinks.ts
  ui/snippets/footer/Footer.pw.tsx
  ui/snippets/footer/FooterLinkItem.tsx
  ui/snippets/footer/__screenshots__/Footer.pw.tsx_dark-color-mode_with-custom-links-max-cols-mobile-dark-mode-1.png
  ui/snippets/footer/__screenshots__/Footer.pw.tsx_default_with-custom-links-max-cols-mobile-dark-mode-1.png
  ui/snippets/footer/__screenshots__/Footer.pw.tsx_default_with-custom-links-max-cols-screen-xl-base-view-1.png
Labels: ENVs
