Repository blockscout/frontend, pull requests merged in 2025-02, with the labels that each got.

#2516 Address ERC-20 tokens tab navigation issue
  ui/address/details/AddressCounterItem.tsx
  ui/address/tokenSelect/TokenSelect.tsx
Labels: bug

#2520 Show decoded target address in User operations
  mocks/userOps/userOp.ts
  types/api/userOps.ts
  ui/pages/__screenshots__/UserOp.pw.tsx_default_base-view-1.png
  ui/pages/__screenshots__/UserOp.pw.tsx_default_mobile-base-view-1.png
  ui/userOp/UserOpDetails.tsx
Labels: enhancement

#2562 Show Celestia Blobs on Arbitrum chains
  .github/workflows/deploy-review.yml
  .vscode/tasks.json
  configs/app/features/rollup.ts
  configs/envs/.env.rari_testnet
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/.env.arbitrum
  docs/ENVS.md
  lib/api/resources.ts
  lib/metadata/getPageOgType.ts
  lib/metadata/templates/description.ts
  lib/metadata/templates/title.ts
  lib/mixpanel/getPageType.ts
  lib/regexp.ts
  mocks/arbitrum/txnBatch.ts
  nextjs/getServerSideProps.ts
  nextjs/nextjs-routes.d.ts
  pages/batches/celestia/[height]/[commitment].tsx
  playwright/fixtures/mockEnvs.ts
  tools/preset-sync/index.ts
  types/api/arbitrumL2.ts
  ui/pages/ArbitrumL2TxnBatch.pw.tsx
  ui/pages/ArbitrumL2TxnBatch.tsx
  ui/pages/ArbitrumL2TxnBatches.pw.tsx
  ui/pages/OptimisticL2TxnBatch.tsx
  ui/pages/__screenshots__/ArbitrumL2TxnBatch.pw.tsx_default_base-view-1.png
  ui/pages/__screenshots__/ArbitrumL2TxnBatch.pw.tsx_default_mobile-base-view-1.png
  ui/pages/__screenshots__/ArbitrumL2TxnBatch.pw.tsx_default_mobile-with-anytrust-DA-1.png
  ui/pages/__screenshots__/ArbitrumL2TxnBatch.pw.tsx_default_mobile-with-celestia-DA-1.png
  ui/pages/__screenshots__/ArbitrumL2TxnBatch.pw.tsx_default_with-anytrust-DA-1.png
  ui/pages/__screenshots__/ArbitrumL2TxnBatch.pw.tsx_default_with-celestia-DA-1.png
  ui/pages/__screenshots__/ArbitrumL2TxnBatches.pw.tsx_default_base-view-1.png
  ui/pages/__screenshots__/ArbitrumL2TxnBatches.pw.tsx_default_base-view-mobile-1.png
  ui/pages/__screenshots__/ArbitrumL2TxnBatches.pw.tsx_default_mobile-base-view-1.png
  ui/pages/__screenshots__/ArbitrumL2TxnBatches.pw.tsx_mobile_base-view-mobile-1.png
  ui/shared/batch/ArbitrumL2TxnBatchDA.tsx
  ui/shared/batch/CeleniumLink.tsx
  ui/txnBatches/arbitrumL2/ArbitrumL2TxnBatchDetails.tsx
  ui/txnBatches/arbitrumL2/ArbitrumL2TxnBatchDetailsAnyTrustDA.tsx
  ui/txnBatches/arbitrumL2/ArbitrumL2TxnBatchDetailsCelestiaDA.tsx
  ui/txnBatches/arbitrumL2/useBatchQuery.tsx
  ui/txnBatches/optimisticL2/OptimisticL2TxnBatchBlobCelestia.tsx
  ui/txnBatches/optimisticL2/useBatchQuery.tsx
Labels: feature, client feature, ENVs

#2557 Zilliqa: Validator views
  configs/envs/.env.zilliqa_prototestnet
  docs/ENVS.md
  lib/api/resources.ts
  lib/hooks/useNavItems.tsx
  lib/metadata/getPageOgType.ts
  lib/metadata/templates/description.ts
  lib/metadata/templates/title.ts
  lib/mixpanel/getPageType.ts
  mocks/validators/zilliqa.ts
  nextjs/getServerSideProps.ts
  nextjs/nextjs-routes.d.ts
  pages/validators/[id].tsx
  pages/validators/index.tsx
  stubs/validators.ts
  types/api/validators.ts
  types/client/validators.ts
  ui/pages/ValidatorZilliqa.tsx
  ui/pages/ValidatorsBlackfort.tsx
  ui/pages/ValidatorsStability.tsx
  ui/pages/ValidatorsZilliqa.pw.tsx
  ui/pages/ValidatorsZilliqa.tsx
  ui/pages/__screenshots__/ValidatorsZilliqa.pw.tsx_default_base-view-mobile-1.png
  ui/pages/__screenshots__/ValidatorsZilliqa.pw.tsx_mobile_base-view-mobile-1.png
  ui/shared/entities/validator/ValidatorEntity.tsx
  ui/validators/blackfort/ValidatorsCounters.tsx
  ui/validators/blackfort/ValidatorsList.tsx
  ui/validators/blackfort/ValidatorsListItem.tsx
  ui/validators/blackfort/ValidatorsTable.tsx
  ui/validators/blackfort/ValidatorsTableItem.tsx
  ui/validators/blackfort/utils.ts
  ui/validators/stability/ValidatorsCounters.tsx
  ui/validators/stability/ValidatorsFilter.tsx
  ui/validators/stability/ValidatorsList.tsx
  ui/validators/stability/ValidatorsListItem.tsx
  ui/validators/stability/ValidatorsTable.tsx
  ui/validators/stability/ValidatorsTableItem.tsx
  ui/validators/stability/utils.ts
  ui/validators/zilliqa/ValidatorDetails.pw.tsx
  ui/validators/zilliqa/ValidatorDetails.tsx
  ui/validators/zilliqa/ValidatorsList.tsx
  ui/validators/zilliqa/ValidatorsListItem.tsx
  ui/validators/zilliqa/ValidatorsTable.tsx
  ui/validators/zilliqa/ValidatorsTableItem.tsx
  ui/validators/zilliqa/__screenshots__/ValidatorDetails.pw.tsx_default_base-view-mobile-1.png
  ui/validators/zilliqa/__screenshots__/ValidatorDetails.pw.tsx_mobile_base-view-mobile-1.png
Labels: enhancement, ENVs

#2483 Neon: Solana transactions
  .github/workflows/deploy-review-l2.yml
  .github/workflows/deploy-review.yml
  configs/app/features/externalTxs.ts
  configs/app/features/index.ts
  configs/envs/.env.neon_devnet
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/.env.external_txs
  docs/ENVS.md
  lib/api/resources.ts
  playwright/fixtures/mockEnvs.ts
  tools/preset-sync/index.ts
  types/client/externalTxsConfig.ts
  ui/tx/TxExternalTxs.pw.tsx
  ui/tx/TxExternalTxs.tsx
  ui/tx/__screenshots__/TxExternalTxs.pw.tsx_default_base-view-1.png
  ui/tx/details/TxInfo.pw.tsx
  ui/tx/details/TxInfo.tsx
  ui/tx/details/__screenshots__/TxInfo.pw.tsx_default_with-external-txs-mobile-1.png
  ui/tx/details/__screenshots__/TxInfo.pw.tsx_mobile_with-external-txs-mobile-1.png
Labels: ENVs

#2561 Unify stats across relevant pages
  deploy/tools/envs-validator/schema.ts
  docs/ENVS.md
  lib/api/resources.ts
  mocks/stats/main.tsx
  package.json
  stubs/contract.ts
  stubs/stats.ts
  stubs/tx.ts
  types/homepage.ts
  ui/home/Stats.pw.tsx
  ui/home/Stats.tsx
  ui/home/indicators/ChainIndicatorChartContainer.tsx
  ui/home/indicators/ChainIndicatorChartContent.tsx
  ui/home/indicators/ChainIndicatorItem.tsx
  ui/home/indicators/ChainIndicators.pw.tsx
  ui/home/indicators/ChainIndicators.tsx
  ui/home/indicators/types.ts
  ui/home/indicators/useChartDataQuery.tsx
  ui/home/indicators/useFetchChartData.tsx
  ui/home/indicators/utils/getIndicatorValues.ts
  ui/home/indicators/utils/indicators.tsx
  ui/home/indicators/utils/prepareChartItems.ts
  ui/pages/Home.pw.tsx
  ui/pages/VerifiedContracts.pw.tsx
  ui/pages/__screenshots__/Home.pw.tsx_dark-color-mode_default-view---default-dark-mode-1.png
  ui/pages/__screenshots__/Home.pw.tsx_default_default-view-screen-xl-base-view-1.png
  ui/pages/__screenshots__/Home.pw.tsx_default_mobile-base-view-1.png
  ui/shared/stats/StatsWidget.tsx
  ui/txs/TxsStats.pw.tsx
  ui/txs/TxsStats.tsx
  ui/verifiedContracts/VerifiedContractsCounters.tsx
  yarn.lock
Labels: enhancement, ENVs

#2560 Support `show_scam_tokens` cookie
  configs/app/ui/views/index.ts
  configs/app/ui/views/token.ts
  configs/envs/.env.main
  deploy/tools/envs-validator/schema.ts
  deploy/values/review/values.yaml.gotmpl
  docs/ENVS.md
  lib/cookies.ts
  middleware.ts
  nextjs/middlewares/index.ts
  nextjs/middlewares/scamTokens.ts
  nextjs/utils/fetchProxy.ts
  ui/snippets/topBar/TopBar.pw.tsx
  ui/snippets/topBar/__screenshots__/TopBar.pw.tsx_dark-color-mode_default-view-dark-mode-mobile-2.png
  ui/snippets/topBar/__screenshots__/TopBar.pw.tsx_default_default-view-dark-mode-mobile-2.png
  ui/snippets/topBar/__screenshots__/TopBar.pw.tsx_mobile_default-view-dark-mode-mobile-2.png
  ui/snippets/topBar/settings/Settings.tsx
  ui/snippets/topBar/settings/SettingsScamTokens.tsx
Labels: ENVs

#2596 fix incorrect color mode
  lib/contexts/chakra.tsx
Labels: bug
