Repository blockscout/frontend, pull requests merged in 2025-08, with the labels that each got.

#2898 Verified contracts: the message "No verified contracts" briefly appears after clearing the filter input
  ui/address/mud/AddressMudTables.tsx
  ui/pages/InternalTxs.tsx
  ui/pages/TacOperations.tsx
  ui/pages/VerifiedContracts.tsx
Labels: bug

#2893 Show Scilla source for unverified contracts on Zilliqa
  configs/app/ui/views/address.ts
  configs/envs/.env.zilliqa
  deploy/tools/envs-validator/schema.ts
  docs/ENVS.md
  ui/address/contract/ContractDetailsByteCode.tsx
  ui/address/contract/ContractDetailsDeployedByteCode.pw.tsx
  ui/address/contract/ContractDetailsDeployedByteCode.tsx
  ui/address/contract/ContractDetailsVerificationButton.tsx
  ui/address/contract/__screenshots__/ContractDetailsDeployedByteCode.pw.tsx_default_scilla-decoded-bytecode-1.png
  ui/address/contract/alerts/ContractDetailsAlerts.tsx
Labels: ENVs

#2919 Flashblocks for Base chains
  configs/app/features/flashblocks.ts
  configs/app/features/index.ts
  configs/envs/.env.base
  decs.d.ts
  deploy/tools/envs-validator/schema.ts
  deploy/tools/envs-validator/test/.env.base
  docs/ENVS.md
  icons/flashblock.svg
  nextjs/csp/generateCspPolicy.ts
  nextjs/csp/policies/app.ts
  nextjs/csp/policies/flashblocks.ts
  nextjs/csp/policies/index.ts
  nextjs/csp/policies/rollup.ts
  package.json
  public/icons/name.d.ts
  public/static/merits/cells.svg
  public/static/merits/cells_dark.svg
  types/api/flashblocks.ts
  types/client/flashblocks.ts
  ui/blocks/BlocksTabSlot.tsx
  ui/blocks/Flashblocks.tsx
  ui/blocks/flashblocks/FlashblocksList.tsx
  ui/blocks/flashblocks/FlashblocksListItem.tsx
  ui/blocks/flashblocks/FlashblocksStats.tsx
  ui/blocks/flashblocks/FlashblocksTable.tsx
  ui/blocks/flashblocks/FlashblocksTableItem.tsx
  ui/blocks/flashblocks/formatFlashblockItem.tsx
  ui/blocks/flashblocks/parseSocketEventData.tsx
  ui/blocks/flashblocks/useFlashblocksSocketData.ts
  ui/pages/Blocks.tsx
  ui/shared/SocketNewItemsNotice.tsx
  ui/shared/entities/flashblock/FlashblockEntity.tsx
  yarn.lock
Labels: ENVs

#2930 Fix link url on the Merits dashboard
  ui/rewards/dashboard/tabs/ResourcesTab.tsx
Labels: bug

#2848 Support `geas` smart contract language 🪿
  configs/envs/.env.eth_sepolia
  docs/ENVS.md
  mocks/contract/methods.ts
  public/static/merits/cells.svg
  public/static/merits/cells_dark.svg
  types/api/contracts.ts
  types/client/contract.ts
  ui/address/AddressContract.pw.tsx
  ui/address/contract/ContractSourceCode.tsx
  ui/address/contract/methods/ContractMethodsCustom.pw.tsx
  ui/address/contract/methods/ContractMethodsRegular.pw.tsx
  ui/address/contract/methods/__screenshots__/ContractMethodsCustom.pw.tsx_default_with-data-1.png
  ui/address/contract/methods/__screenshots__/ContractMethodsRegular.pw.tsx_dark-color-mode_all-methods-dark-mode-1.png
  ui/address/contract/methods/__screenshots__/ContractMethodsRegular.pw.tsx_default_all-methods-dark-mode-1.png
  ui/address/contract/methods/__screenshots__/ContractMethodsRegular.pw.tsx_default_all-methods-mobile-1.png
  ui/address/contract/methods/form/ContractMethodForm.tsx
  ui/address/contract/methods/form/ContractMethodOutput.tsx
  ui/address/contract/methods/types.ts
  ui/address/contract/methods/useCallMethodPublicClient.ts
  ui/address/contract/methods/useCallMethodWalletClient.ts
  ui/address/contract/methods/utils.ts
  ui/shared/monaco/CodeEditor.tsx
  ui/shared/monaco/utils/defGeas.ts
  ui/verifiedContracts/VerifiedContractsFilter.tsx
Labels: ENVs

#2988 Bump up Next.js, typescript and other packages
  eslint.config.mjs
  lib/blob/removeNonSignificantZeroBytes.ts
  lib/hooks/useRewardsActivity.tsx
  next-env.d.ts
  next.config.js
  package.json
  types/api/contract.ts
  types/utils.ts
  types/web3.ts
  ui/address/epochRewards/AddressEpochRewardsTable.tsx
  ui/address/epochRewards/AddressEpochRewardsTableItem.tsx
  ui/deposits/beaconChain/BeaconChainDepositsTable.tsx
  ui/deposits/optimisticL2/OptimisticDepositsTable.tsx
  ui/deposits/optimisticL2/OptimisticDepositsTableItem.tsx
  ui/deposits/scrollL2/ScrollL2DepositsTable.tsx
  ui/deposits/scrollL2/ScrollL2DepositsTableItem.tsx
  ui/deposits/shibarium/DepositsTable.tsx
  ui/deposits/shibarium/DepositsTableItem.tsx
  ui/deposits/zkEvmL2/ZkEvmL2DepositsTable.tsx
  ui/deposits/zkEvmL2/ZkEvmL2DepositsTableItem.tsx
  ui/marketplace/useMarketplaceWallet.tsx
  ui/messages/ArbitrumL2MessagesTable.tsx
  ui/messages/ArbitrumL2MessagesTableItem.tsx
  ui/operations/tac/TacOperationsTable.tsx
  ui/shared/monaco/utils/composeFileTree.ts
  ui/userOps/UserOpsContent.tsx
  ui/userOps/UserOpsTable.tsx
  ui/userOps/UserOpsTableItem.tsx
  ui/withdrawals/beaconChain/BeaconChainWithdrawalsTable.tsx
  ui/withdrawals/optimisticL2/OptimisticL2WithdrawalsTable.tsx
  ui/withdrawals/optimisticL2/OptimisticL2WithdrawalsTableItem.tsx
  ui/withdrawals/scrollL2/ScrollL2WithdrawalsTable.tsx
  ui/withdrawals/scrollL2/ScrollL2WithdrawalsTableItem.tsx
  ui/withdrawals/shibarium/WithdrawalsTable.tsx
  ui/withdrawals/shibarium/WithdrawalsTableItem.tsx
  ui/withdrawals/zkEvmL2/ZkEvmL2WithdrawalsTable.tsx
  ui/withdrawals/zkEvmL2/ZkEvmL2WithdrawalsTableItem.tsx
  yarn.lock
Labels: dependencies
